//
// Theme.scss
//
// This file should include styles for theming a particular design. This is
// where custom images, custom colors, custom fonts, and other such 'theme'
// based styles should appear. We will use this for our generic templates, but
// probably not as much for the highly customized pages projects.
//

// for page layout see search/layout.scss

.search-content-wrapper
{
  background-color: $brand-primary;
}

// search form styling, isolated from header version
.search-content
{
  .search
  {
    margin-bottom: 14px;

    &-wrapper
    {
      @at-root
      {
        .placeholder &
        {
          @include fa-icon-before($fa-var-search)
          {
            position: absolute;
            color: black;
            left: 1ex;
            top: 1em;
          }
        }
      }
    }

    &-label-wrapper
    {
      display: table-header-group;
    }

    &-input
    {
      width: 100%;
      height: 100%;
      color: $gray-3;
      background-color: $brand-tertiary;
      border: none;
      font-weight: $font-weight-semibold;
      padding-top: 0px;
      padding-left: 4ex;
      padding-right: 0px;
      padding-bottom: 0px;

      @include font-sizes(14px, 18px);

      &::placeholder
      {
        color: $gray-3;
        font-weight: $font-weight-semibold;
      }

      &-wrapper
      {
        height: 100%;
      }

      &-row
      {
        height: 45px;
      }
    }

    &-button
    {
      @include button-secondary;
      padding: 0px;
      width: 100%;
      height: 100%;
      text-transform: uppercase;

      &-wrapper
      {
        height: 100%;
        width: 50px;
      }
    }
  }
}

// browse by state and use my location links
.search-links
{
  &-wrapper
  {
    @include clearfix();
    margin-bottom: 26px;

    @include bplte(xs)
    {
      margin-bottom: $grid-gutter-width/2;
    }
  }

  @at-root
  {
    .browse-by-state
    {
      @include font-large;
      font-weight: $font-weight-bold;

      @include link-states()
      {
        color: $brand-secondary;
      }

      &-wrapper
      {
        float: right;

        @include bplte(sm)
        {
          display: none;
        }
      }
    }

    .map-summary
    {
      @include font-large;
      font-weight: $font-weight-bold;
      color: $brand-secondary;

      padding-bottom: 6px;

      .browse-by-state
      {
        float: right;
      }
    }

    .map-mobile
    {
      margin-bottom: $grid-gutter-width/2;
    }

    .use-my-current-location-button
    {
      float: left;

      @include bplte(sm)
      {
        float: none;
      }

      &-link
      {
        @include font-large;
        font-weight: $font-weight-bold;

        @include link-states()
        {
          color: $brand-secondary;
        }

        &:hover
        {
          cursor: pointer;
        }

        @include bplte(sm)
        {
          @include button-secondary;
          display: block;
          margin-bottom: $grid-gutter-width/2;
        }
      }
    }
  }
}

// search results

.search-results
{
  @at-root
  {
    .user-query
    {
      font-weight: $font-weight-bold;
    }

    .location-list
    {
      list-style-type: none;
      padding-left: 0px;
      margin-bottom: 0px;
      padding-top: 13px;

      &-item
      {
        padding-top: 13px;
        padding-bottom: 10px;
        border-top: $border;
      }
    }
  }
}

.location
{
  @include location-grid-item;
}