{namespace usemin}

/**
 * @param base
 */
{template .search_styles}
  {log}
    {$base}
  {/log}

  <link rel="stylesheet" href="{$base.url}css/search/style.07a08cf1.css"/>

{/template}


/**
 * stateList_js
 * @param base
 */
{template .search_js}
  {log}
    {$base}
  {/log}

  <script src="{$base.url}js/search/script.5dd741c3.js"></script>
{/template}